body
{
  background-color: green;
  color: white;
}

.namecontact
{
    text-align: center;
    margin: auto;
    position: relative;
    border: 3px solid #73AD21;
    width: 600px;
    height: 100px;
}

.objective
{
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 160px;
  border: 10px ridge black;
}

.profexp
{
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 310px;
  border: 10px ridge black;
}

.education
{
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 200px;
  border: 10px ridge black;
}

.add_skills
{

  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 40px;
  border: 10px ridge black;
  
}